In [3]:
import pandas as pd
from pandas import json_normalize
import numpy as np
import json

In [6]:
load_df = pd.read_json('all_stores.json')

places_df = []
for i in range(len(load_df['places'])):
    load_df['places'][i] = json_normalize(load_df['places'][i])
    places_df.append(load_df['places'][i])

places_df = pd.concat(places_df, ignore_index=True)
places_df = places_df.drop_duplicates(subset=['_id'])
places_df = places_df.reset_index(drop=True)
places_df

,_id,name,categories,location.type,location.coordinates,chain.slug,chain.name,chain.domain
0,5dc9a3252004860034bb4886,Jos. A. Bank,"[shopping-retail, apparel, clothing-store, men...",Point,"[-85.57969733206755, 38.24865779225328]",jos-a-bank,Jos. A. Bank,josbank.com
1,5dc30383d7f7ed0033d7739b,Brooks Brothers,"[shopping-retail, apparel, clothing-store, men...",Point,"[-85.60989387949492, 38.2469695800491]",brooks-brothers,Brooks Brothers,brooksbrothers.com
2,5f664553618655405b0c999d,UNTUCKit,"[shopping-retail, apparel, clothing-store, men...",Point,"[-85.61103289913419, 38.24746907539493]",untuckit,UNTUCKit,untuckit.com
3,610b19edef48a87fb957d8cf,Men's Wearhouse,"[shopping-retail, apparel, clothing-store, men...",Point,"[-85.61112991115479, 38.249629690618555]",mens-wearhouse,Men's Wearhouse,menswearhouse.com
4,610b19f42a4fba19f0a8b807,Men's Wearhouse,"[shopping-retail, apparel, clothing-store, men...",Point,"[-85.57501727325047, 38.30866610396779]",mens-wearhouse,Men's Wearhouse,menswearhouse.com
...,...,...,...,...,...,...,...,...
2218,62cd931798b993111c81c6ad,Small Town Sports,"[shopping-retail, sporting-goods-store]",Point,"[-85.548869, 38.05258]",NaN,NaN,NaN
2219,5dc9a0f42004860034baa294,Goodwill,"[shopping-retail, thrift-or-consignment-store]",Point,"[-85.53936955313168, 38.05410023381892]",goodwill,Goodwill,goodwill.org
2220,5f668148618655405b9cf83f,Cindy's Consignments,"[shopping-retail, thrift-or-consignment-store]",Point,"[-85.54878303804244, 38.05653298911513]",NaN,NaN,NaN
2221,649227400db46f4659fc341e,Dis & Dat Thrift Shop,"[shopping-retail, thrift-or-consignment-store]",Point,"[-85.54934888093514, 38.04372817217552]",NaN,NaN,NaN
2222,64d2c09b2bf3f14198ce356a,Mw23 Llc,"[shopping-retail, tobacco-store]",Point,"[-85.54003730411537, 38.049058295641096]",NaN,NaN,NaN